@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.dark {
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@layer base {

  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-Regular.ttf");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "PoppinsLight";
    src: url("/fonts/Poppins/Poppins-Light.ttf");
    font-weight: 300;
    font-display: swap;
  }
  
  @font-face {
    font-family: "PoppinsMedium";
    src: url("/fonts/Poppins/Poppins-Medium.ttf");
    font-weight: 500;
    font-display: swap;
  }

   @font-face {
    font-family: "PoppinsSemiBold";
    src: url("/fonts/Poppins/Poppins-SemiBold.ttf");
    font-weight: 600;
    font-display: swap;
  }

   @font-face {
    font-family: "PoppinsBold";
    src: url("/fonts/Poppins/Poppins-Bold.ttf");
    font-weight: 700;
    font-display: swap;
  }
}

@theme {

   /* FONT SIZE */
  --text-10: 10px;
  --text-11: 11px;
  --text-12: 12px;
  --text-13: 13px;
  --text-14: 14px;
  --text-16: 16px;
  --text-18: 18px;
  --text-20: 20px;
  --text-22: 22px;
  --text-24: 24px;
  --text-26: 26px;
  --text-28: 28px;
  --text-30: 30px;
  --text-32: 32px;
  --text-34: 34px;
  --text-35: 35px;
  --text-36: 36px;
  --text-38: 38px;
  --text-40: 40px;
  --text-42: 42px;
  --text-45: 45px;


  --breakpoint-sm: 600px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 1920px;

  --font-poppins: "Poppins", sans-serif;
  --font-poppins-bold: "PoppinsBold", sans-serif;
  --font-poppins-semibold: "PoppinsSemiBold", sans-serif;
  --font-poppins-light: "PoppinsLight", sans-serif;
  --font-poppins-medium: "PoppinsMedium", sans-serif;

}

@layer utilities {
    .container-padding {
    @apply px-4 md:px-12 2xl:px-14 3xl:px-18;
  }

  .section-block-padding {
    @apply py-10 md:py-16 3xl:py-22;
  }

  .section-block-top {
    @apply pt-10 md:pt-16 3xl:pt-22;
  }

  .section-block-bottom {
    @apply pb-10 md:pb-16 3xl:pb-22;
  }
  .title-content-gap {
    @apply mb-6 md:mb-8 3xl:mb-10;
  }



  .nav-text {
    @apply text-[16px] font-poppins text-[#1A2B6D] ;
  }

  .nav-active-text {
    @apply text-[16px] font-poppins text-[#FFFFFF] bg-[#1A2B6D] 
  }

  .title {
  @apply text-[26px] leading-[44px] md:text-[32px] font-poppins-semibold text-[#1A2B6D] ;
}

  .desc {
    @apply text-[16px] font-poppins-light text-[#1A2B6D] ;
  }

  .red-btn {
    @apply text-[18px] font-poppins-semibold text-[#FFFFFF] bg-[#D41317] rounded-[10px] px-8 py-2 w-fit
  }


}